<footer>
  <div class="footer-top  " id="footer">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-3 footer-about wow fadeInUp">
          <img class="logo-footer" src="https://image.flaticon.com/icons/svg/741/741407.svg" alt="logo-footer" data-at2x="assets/img/logo.png">
          <p>
            {{'footer.p_8'|translate}}            </p>
          <p><a href="#">{{'footer.p_10'|translate}}</a></p>
              </div>
        <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
          <div class="chip " style="margin-bottom: 30px;" >
            <img src="http://73.154.199.105/WEBDEV/WEB%20Stuff/WEB%20Stuff/img/businessman_tie-512.png" alt="Person" width="96" height="96" style="color: black;">
           {{'footer.img_15'|translate}}
          </div>
              <p><i class="fas fa-map-marker-alt"></i> Manyata Tech Park, Bangalore</p>

              <p><i class="fas fa-phone"></i> {{'footer.p_18'|translate}}</p>
              <p><i class="fas fa-envelope"></i> {{'footer.p_19'|translate}} <a href="mailto:hello@domain.com">rupinderSingh@gmail.com</a></p>
              <p><i class="fab fa-skype"></i> {{'footer.p_20'|translate}}</p>
              </div>
              <div class="col-md-4 footer-links wow fadeInUp">
                <div class="row">
                  <div class="col">
                    <h3>{{'footer.h_25'|translate}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p><a class="scroll-link" href="#top-content">{{'footer.p_30'|translate}}</a></p>
                    <p><a href="#features">{{'footer.p_31'|translate}}</a></p>
                    <p><a href="#working">{{'footer.p_32'|translate}}</a></p>
                    <p><a href="#">{{'footer.p_33'|translate}}</a></p>
                  </div>
                  <div class="col-md-6">
                    <p> <a (click)="translate.use('en')"   style="cursor: pointer">English</a></p>
                    <p><a (click)="translate.use('ur')"  style="cursor: pointer">اردو</a></p>
                    <p> <a (click)="translate.use('hi')" style="cursor:pointer" >हिन्दी</a></p>
                    <p> <a (click)="translate.use('pu')" style="cursor: pointer"> ਪੰਜਾਬੀ </a></p>

                    


                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
           <div class="col-md-6 footer-copyright">
                &copy;Let's drive
              </div>
           <div class="col-md-6 footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a> 
      <a href="#"><i class="fab fa-twitter"></i></a> 
      <a href="#"><i class="fab fa-google-plus-g"></i></a> 
      <a href="#"><i class="fab fa-instagram"></i></a> 
      <a href="#"><i class="fab fa-pinterest"></i></a>
              </div>
         </div>
    </div>
  </div>
</footer>