<div class="">
    <div>
        <img src="/assets/user.png" alt="user">
        <!-- <h3>{{fullName}}</h3> --><br><br>
        <div><label for="distanceLabel" class="labelName">Total Distance :</label>
            <label for="distance" class="distanceLabel">{{totalDistance}} Kms</label>
            <label for="hoursLabel" class="labelName">Total Hours :</label>
            <label for="hours" class="hoursLabel">{{totalHours}} Hrs</label>
        </div>
    </div>
    <div class="row shadow-lg p-3 mb-5 bg-white rounded tab">
        <div class="col-md-8 col-sm-8 col-12 insideTab">
            <label for="personalInfoHeading">
                <h5>Personal Information</h5>
            </label>
            <div class="detail row">
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="detailLabelName"><label for="fullNameLabel">Full Name</label></div>
                    <div class="detailLabelName"><label for="emailLabel">Mobile No.</label></div>
                    <div class="detailLabelName"><label for="mobileLabel">E-mail ID</label></div>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Name" id="userName" name="userName" [(ngModel)]="fullName" disabled="">
                        <div class="input-group-append">
                            <span id="nameEditBtn" (click)="updateUser('nameEditBtn','userName')" class="input-group-text bg-info">Edit</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Mobile" id="mobile" name="mobile" [(ngModel)]="mobile" disabled="">
                        <div class="input-group-append">
                            <span id="phoneEditBtn" (click)="updateUser('phoneEditBtn','mobile')" class="input-group-text bg-info" >Edit</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email" id="email" name="email" [(ngModel)]="email" disabled="">
                        <div class="input-group-append">
                            <span id="mailEditBtn" (click)="updateUser('mailEditBtn','email')" class="input-group-text bg-info" >Edit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 upload-license">
            <button class="btn btn-success btn-lg" id="licenseBtn" (click)=uploadLicenseHandler()><i id="licenceBtnIcon" class="fa fa-upload" aria-hidden="true" (click)="uploadLicenese()"></i>
                Upload License
            </button>
        </div>
        <!-- <app-upload-file></app-upload-file> -->
    </div>
       <app-upload></app-upload>